@{
	Layout = "_LayoutLogin";
}

<div class="area_home">
	@await Html.PartialAsync("~/Views/Shared/User/_PartialMenu.cshtml")

	@await Html.PartialAsync("~/Views/Shared/User/_PartialSearchChat.cshtml")

	@await Html.PartialAsync("~/Views/Shared/User/_PartialChatDetails.cshtml")

	@await Html.PartialAsync("~/Views/Shared/User/_PartialChatAddMessage.cshtml")

	@await Html.PartialAsync("~/Views/Shared/User/_PartialFooter.cshtml")
</div>
