@inject TCM.Services.Interfaces.Services.IChatServices _chatServices
@inject TCM.Services.Interfaces.Services.IUserServices _userServices
@{
    ViewData["Title"] = "ChefMelo - Chat";
    var currentUser = _userServices.CurrentUserAsync();
}
@model IEnumerable<TCM.Services.Model.ChatModel>
@section Styles {
    <link href="~/StaticFiles/lib/gritter/css/jquery.gritter.css" rel="stylesheet" />
}

@section Scripts {
    <script src="~/StaticFiles/js/search.js"></script>
}

<!-- BEGIN page-header -->
<h1 class="page-header">Chats <small>chats with user...</small></h1>
<!-- END page-header -->

<div class="row">
    <div class="col-xl-10">
        <div class="panel panel-inverse">
            <div class="panel-heading">
                <h4 class="panel-title">Contacts</h4>
                <div class="panel-heading-btn">
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-default" data-toggle="panel-expand"><i class="fa fa-expand"></i></a>
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-success" data-toggle="panel-reload"><i class="fa fa-redo"></i></a>
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-warning" data-toggle="panel-collapse"><i class="fa fa-minus"></i></a>
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-danger" data-toggle="panel-remove"><i class="fa fa-times"></i></a>
                </div>
            </div>
            <!-- BEGIN panel-body -->
            <div class="panel-body">
                <table id="data-table-responsive" class="table-responsive" style="width:100%">
                    <tbody>
                        @foreach (var chat in Model)
                        {
                            <tr>
                                <td width="50%">
                                    <h6><a asp-controller="Chat" asp-action="Details" asp-route-connectionUserId="@(chat.ChatUserUserName == currentUser.UserName ? chat.ChatConnectionUserId : chat.ChatUserId )">@(chat.ChatUserUserName == currentUser.UserName ? chat.ConnectionUserUserName : chat.ChatUserUserName )</a></h6>
                                    <h6>@chat.ChatMessage</h6>
                                </td>
                                <td width="50%" class="text-end">
                                    <h6>@chat.ChatCreatedDate.Value.ToString("MM/dd/yyyy HH:mm")</h6>
                                </td>
                            </tr>
                            <tr>
                                <td>                            <hr class="bg-gray-500" /></td>
                                <td>                            <hr class="bg-gray-500" /></td>
                            </tr>

                        }
                    </tbody>
                </table>

            </div>
            <!-- END panel-body -->
        </div>
    </div>
</div>