@model CollectionDetails;
@{
    Layout = "_LayoutLogin";
}
<section id="delight">
    <div class="delight">
        <div class="delight_int">
            <div class="area_delight">
                <div class="close_email">
                    <img width="10px" height="10px" src="~/img/Close.png" alt="">
                </div>
                <div class="logo">
                    <img width="100px" height="100px" src="~/img/Logo.png" alt="Patisserie">
                </div>
                <div class="delight_img"></div>
                <div class="area_texts_delight">
                    <div class="title_description_delight">
                        <h2>Description Title 2</h2>
                    </div>
                    <div class="info_delight">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse at accumsan massa.
                            Etiam eget diam cursus, maximus lectus finibus, cursus ipsum. Proin dignissim malesuada
                            venenatis. Maecenas eu leo cursus felis venenatis consectetur. Donec tincidunt interdum
                            est. Vestibulum fermentum justo id nibh gravida rhoncus.
                        </p>
                    </div>
                    <div class="by_delight">
                        <p>Sent by chef_melo</p>
                    </div>
                    <div class="share_delight">
                        <p>Share this delight with someone.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <div class="collectibles">
            <img width="20px" height="20px" src="~/img/logo_collectibles.png" alt="">
            <h2>My Collectibles</h2>
        </div>
    </footer>
</section>