@{
    Layout = "_LayoutLogin";
}
@model TCM.Presentation.Site.Models.HomeViewModel

@await Html.PartialAsync("~/Views/Shared/adm/_PartialMenu.cshtml")

@await Html.PartialAsync("~/Views/Shared/adm/_PartialAdm.cshtml")

@await Html.PartialAsync("~/Views/Shared/User/_PartialSearch.cshtml")

@await Html.PartialAsync("~/Views/Shared/User/_PartialBanner.cshtml", Model.BannersModel)

@await Html.PartialAsync("~/Views/Shared/User/_PartialVideo.cshtml", Model.BannersModel)

<a href="https://melopatisserie.com/">
    <div class="btn_home_1">
        <h2>VISIT THE WEBSITE</h2>
    </div>
</a>

@await Html.PartialAsync("~/Views/Shared/User/_PartialCommunity.cshtml", Model.CollectionsItemModel.OrderByDescending(x => x.CollectionId).ToList())

<a asp-controller="Chat" asp-action="All">
    <div class="btn_home_2">
        <h2>CHAT WITH US</h2>
    </div>
</a>

@await Html.PartialAsync("~/Views/Shared/adm/_PartialFooter.cshtml")

<script>
    $(document).ready(function () {
        $('.icon_menu').click(function () {
            $('#logoAndCollectibles').toggle();
        });
    });
</script>