@{
    Layout = "_LayoutLogin";
}
@model TCM.Presentation.Site.Models.HomeViewModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <title>Home Usuário</title>
    <link rel="stylesheet" href="~/css/style.css">
</head>
<body>
    <section id="container_home">
        <div class="container_home">
            <div class="container_home_int">
                <div class="area_home">
                    @await Html.PartialAsync("~/Views/Shared/Home/User/_PartialMenu.cshtml")

                    @await Html.PartialAsync("~/Views/Shared/Home/User/_PartialSearch.cshtml")

                    @await Html.PartialAsync("~/Views/Shared/Home/User/_PartialBanner.cshtml", Model.BannersModel)

                    @await Html.PartialAsync("~/Views/Shared/Home/User/_PartialVideo.cshtml", Model.BannersModel)

                    @await Html.PartialAsync("~/Views/Shared/Home/User/_PartialDelights.cshtml")

                    @await Html.PartialAsync("~/Views/Shared/Home/User/_PartialChat.cshtml")

                    @await Html.PartialAsync("~/Views/Shared/Home/User/_PartialFooter.cshtml")

                </div>
            </div>
        </div>
    </section>
</body>
</html>