@section Styles {
    <link href="~/StaticFiles/lib/jvectormap-next/jquery-jvectormap.css" rel="stylesheet" />
    <link href="~/StaticFiles/lib/nvd3/build/nv.d3.css" rel="stylesheet" />
    <link href="~/StaticFiles/assets/plugins/bootstrap-datepicker/dist/css/bootstrap-datepicker.css" rel="stylesheet" />
    <link href="~/StaticFiles/assets/plugins/bootstrap-timepicker/css/bootstrap-timepicker.min.css" rel="stylesheet" />
    <link href="~/StaticFiles/assets/plugins/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet" />
    <link href="~/StaticFiles/assets/plugins/select2/dist/css/select2.min.css" rel="stylesheet" />
    <link href="~/StaticFiles/assets/plugins/select-picker/dist/picker.min.css" rel="stylesheet" />
}
@section Scripts {
    <script src="~/StaticFiles/js/manageCollection.js"></script>
    <script src="~/StaticFiles/assets/plugins/select2/dist/js/select2.min.js"></script>
    <script src="~/StaticFiles/assets/plugins/moment/min/moment.min.js"></script>
    <script src="~/StaticFiles/assets/plugins/bootstrap-datepicker/dist/js/bootstrap-datepicker.js"></script>
    <script src="~/StaticFiles/assets/plugins/bootstrap-timepicker/js/bootstrap-timepicker.min.js"></script>
    <script src="~/StaticFiles/assets/plugins/select-picker/dist/picker.min.js"></script>
    <script src="~/StaticFiles/js/search.js"></script>
    <script src="~/StaticFiles/assets/plugins/@@highlightjs/cdn-assets/highlight.min.js"></script>
    <script src="~/StaticFiles/assets/js/demo/render.highlight.js"></script>
    <script src="~/StaticFiles/js/demo/ui-modal-notification.demo.js"></script>
}
<!-- BEGIN page-header -->
<h1 class="page-header">Collection <small>add new items with collection...</small></h1>
<!-- END page-header -->
<!-- BEGIN row -->
<div class="row">
    <div class="col-xl-10">
        <div class="panel panel-inverse">
            <div class="panel-heading bg-orange-700 ui-sortable-handle">
                <h4 class="panel-title">Register new items with collection</h4>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xl-10">
                        <div class="nav-wizards-container" style="overflow:hidden">
                            <nav class="nav nav-wizards-1">
                                <div class="nav-item">
                                    <a class="nav-link completed" href="#">
                                        <div class="nav-no">1</div>
                                        <div class="nav-text">Add new collection</div>
                                    </a>
                                </div>
                                <div class="nav-item col">
                                    <a class="nav-link active" href="#">
                                        <div class="nav-no">2</div>
                                        <div class="nav-text">Add new items</div>
                                    </a>
                                </div>
                            </nav>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <hr class="bg-gray-400" />
                </div>
            </div>
        </div>
    </div>
</div>