
<div class="area_chats_all">
    <div class="area_texts_chats">

        <div class="all_chats">
            <a href="#">
                <h2>All chats</h2>
                <div class="border_c"></div>
            </a>
        </div>

        <div class="chats_unread">
            <a asp-action="Unread" asp-controller="Chat">
                <h2>Unread</h2>
                <div class="border_u"></div>
            </a>
        </div>

    </div>
</div>