@{
    var countChatsUnreads = (int)TempData["ChatsUnread"];
}

<div class="bar"></div>
<div class="subtitle_community">
    <h2> You Have <span>@Model.CountUnreadChats</span> unread chats</h2>
   <p>Strong community is made of sharing, love and good conversations! </p>
</div>
<div class="link">
    <h5>Go to your unreads chats</h5>
</div>

