@{
    var chats = (List<ChatViewModel>)TempData["ChatAll"];
}
<div class="area_chats_all">
    <div class="area_texts_chats">

        <div class="all_chats">
            <a asp-action="All" asp-controller="Chat">
                <h2>All chats</h2>
                <div class="border_c"></div>
            </a>
        </div>

        <div class="chats_unread">
            <a asp-action="Unread" asp-controller="Chat">
                <h2>Unread</h2>
                <div class="border_u"></div>
            </a>
        </div>

    </div>
</div>

<div class="area_user_chats">
    @{
        foreach (var chat in chats)
        {
            <div class="area_user_name_total">
                <div class="user_name_chat">
                    <div class="user_name_text">
                        <a href="/Chat/Details?userId=@chat.UserId" ><h2>@chat.Username</h2></a>
                    </div>
                    <div class="date_chat">
                        <p>@chat.DateMessage.ToString("MM/dd/yyyy")</p>
                    </div>
                </div>

                <div class="user_name_chat">
                    <div class="message_chat">
                        <h2>@(chat.Message.Count() > 55 ? $"{chat.Message.Substring(0, 54)}..." : chat.Message )</h2>
                    </div>
  
                    <div class="number_message" style=@(chat.CountUnread == 0 ? "display:none" : "display:block")>
                        <p>@chat.CountUnread</p>
                    </div>

                </div>
            </div>
        }
    }
</div>