@{
    List<TCM.Presentation.Site.Models.ActivityModel> friendsActivities = new List<TCM.Presentation.Site.Models.ActivityModel>();

    if (TempData["FriendsActivities"] != null)
    {
        friendsActivities = (List<TCM.Presentation.Site.Models.ActivityModel>)TempData["FriendsActivities"];
    }
}
<div class="bar"></div>
<div class="title_community">

    <div class="title_friends_community"><h2>Friend's activity</h2></div>

    
    <div class="area_user_name_community">
        @foreach (var activity in friendsActivities)
        {
            <div class="friends_community">

                <div class="user_name_community">
                    <p class=""><strong>
                            <a asp-controller="Profile" asp-action="Index" asp-route-connectionUserId="@activity.ProfileId" asp-route-isConnection="true" asp-route-fill="true" style="color:#C0694E;">
                        @activity.UserName
                            </a>
                        
                    </strong> @activity.ActionDescription</p>
                </div>
                <div class="date_community"><p>@activity.ActionDate.ToString("dd/MM/yyyy")</p></div>

            </div>
        }
    </div>
</div>
<div class="link">
    <a asp-controller="Connection">
        <h5>See all your connections</h5>
    </a>
</div>




