<div class="menu_header">
    <div class="icon_menu">
        <nav class="nav">
            <input type="checkbox" class="checkbox" id="checkbox">
            <label for="checkbox" class="label_menu">
                <!--<img width="27px" height="27px" src="img/Icon_Menu.png" alt="">-->
                <span class="menu_hamburguer"></span>
            </label>
            <div class="container_menu home">
                <div class="container_menu_int">
                    <div class="area_menu">
                        <div class="logo_menu">
                            <img width="100px" height="100px" src="~/img/Logo.png" alt="Patisserie">
                        </div>
                        <div class="social_icons">
                            <img src="~/img/instagram.png" alt="">
                            <img src="~/img/facebook.png" alt="">
                            <img src="~/img/world.png" alt="">
                        </div>
@*                        <div class="admin">
                            <h2>admin console</h2>
                        </div>*@
                        <nav>
                            <ul>
                                <a asp-controller="Profile">
                                    <li>MY COLLECTIBLES</li>
                                </a>

                                <a asp-controller="Connection">
                                    <li>MY CONNECTIONS</li>
                                </a>

                                <a asp-controller="Chat" asp-action="All">
                                    <li>CHATS</li>
                                </a>

                                <a asp-controller="User">
                                    <li>CONFIGURATIONS</li>
                                </a>

                                <a asp-controller="Invitation">
                                    <li>MY INVITATIONS</li>
                                </a>

                                <li>SUPPORT</li>

                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </nav>
    </div>
    <div class="logo_home">
        <img width="30px" height="30px" src="~/img/logo_small.png" alt="Patisserie">
        <div class="collectibles_home">
            <h2>My Collectibles</h2>
        </div>
    </div>
</div>
