@{
    Layout = "_LayoutLogin";
}
@using System.Linq;
@{
    var _connectionModels = (List<TCM.Services.Model.ConnectionModel>)ViewBag.Connection;
}
<div class="area_home">
    @await Html.PartialAsync("~/Views/Shared/Home/User/_PartialMenu.cshtml")

    @await Html.PartialAsync("~/Views/Shared/Home/User/_PartialSearchConnection.cshtml")

    <div class="area_chats_all">
        <div class="area_texts_chats">

            <div class="my_invitations">
                <a href="chats_unread.html">
                    <h2>My Invitations</h2>
                    <div class="border_unread_u"></div>
                </a>
            </div>
        </div>
    </div>


    <div class="area_user_chats">
        <form method="post">
            @if (_connectionModels.Any())
                {
                    foreach (var item in _connectionModels)
                    {
                        <div class="area_user_name_total">
                            <div class="user_name_chat">
                                <div class="user_name_text">
                                    <h2>@item.UserUsername</h2>
                                </div>
                                <div class="text_color_beige">
                                    <p>
                                    @{
                                        if (item.ConnectionUserConnectionStatusId == null)
                                        {
                                            <button class="invitation-circle-send" type="submit">
                                                <i class="bi bi-send-plus-fill"></i>
                                            </button>
                                        }
                                        else
                                        {
                                            <a asp-action="index" asp-controller="profile">View their profile</a>                                            
                                        }
                                    }
                                    </p>
                                </div>
                            </div>
                        </div>
                    <div class="user_name_chat">
                        <div class="message_chat">
                            <h2>@item.ConnectionStatusUserName</h2>
                        </div>

                    </div>
                    }
                }
        </form>

    </div>


    @await Html.PartialAsync("~/Views/Shared/Home/User/_PartialFooter.cshtml")
</div>
<script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (() => {
        'use strict'

        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        const forms = document.querySelectorAll('.needs-validation')

        // Loop over them and prevent submission
        Array.from(forms).forEach(form => {
            form.addEventListener('submit', event => {
                if (!form.checkValidity()) {
                    event.preventDefault()
                    event.stopPropagation()
                }

                form.classList.add('was-validated')
            }, false)
        })
    })()
</script>
<script type="text/javascript" src="~/js/Invitation.js"></script>
