@{
    Layout = "_LayoutLogin";
}
@model List<TCM.Services.Model.ConnectionModel>

<div class="area_home">
    @await Html.PartialAsync("~/Views/Shared/Home/User/_PartialMenu.cshtml")

    @await Html.PartialAsync("~/Views/Shared/Home/User/_PartialSearchConnection.cshtml")

    @{
        await Html.RenderPartialAsync("~/Views/Shared/Home/User/_PartialInvitationConnection.cshtml", Model.ToList());
    }

    @await Html.PartialAsync("~/Views/Shared/Home/User/_PartialFooter.cshtml")
</div>
<script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (() => {
        'use strict'

        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        const forms = document.querySelectorAll('.needs-validation')

        // Loop over them and prevent submission
        Array.from(forms).forEach(form => {
            form.addEventListener('submit', event => {
                if (!form.checkValidity()) {
                    event.preventDefault()
                    event.stopPropagation()
                }

                form.classList.add('was-validated')
            }, false)
        })
    })()
</script>
<script type="text/javascript" src="~/js/Invitation.js"></script>
