@{
    Layout = "_LayoutLogin";
}
<div class="area_home">
    @await Html.PartialAsync("~/Views/Shared/Home/User/_PartialMenu.cshtml")

    @await Html.PartialAsync("~/Views/Shared/Home/User/_PartialSearchConnection.cshtml")

    @await Html.PartialAsync("~/Views/Shared/Home/User/_PartialConnection.cshtml")

    @await Html.PartialAsync("~/Views/Shared/Home/User/_PartialFooter.cshtml")
</div>