@{
    Layout = "_LayoutLogout_Code";
}

<div class="area_login_validate">
    <div class="logo">
        <a href="http://homologacao.thechefmelo.com/" alt="Home">
            <img width="100px" height="100px" src="~/img/Logo.png" alt="Patisserie">
        </a>
    </div>
    <form id="formCode" name="formCode" class="needs-validation" novalidate>
        <div id="code-group" class="area_form">
            <label for="code" class="code">
                <span id="timer"></span><span id="insert_code"></span>
            </label>
            <input class="form-control code_input" type="text" id="code" name="code" placeholder="_ _ _ _ _ _" maxlength="6" autocomplete="off" required>
            <span class="errorData" role="alert" id="codenumberError" aria-hidden="true"></span>
            <input type="hidden" name="token" id="token" value="@ViewBag.Token" />
        </div>
        <input type="submit" name="submit" class="submit" value="GO">
        <div class="send_email">
            <p>Didn't receive the code?<br> <a target="_self" asp-controller="Code" asp-action="Mail" asp-route-token="@ViewBag.Token"><span style="text-decoration: none; color: var(--color-font-form);">Tap here to </span><b>send a new one to your e-mail.</b></a></p>
        </div>
    </form>
</div>
<script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (() => {
        'use strict'

        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        const forms = document.querySelectorAll('.needs-validation')

        // Loop over them and prevent submission
        Array.from(forms).forEach(form => {
            form.addEventListener('submit', event => {
                if (!form.checkValidity()) {
                    event.preventDefault()
                    event.stopPropagation()
                }

                form.classList.add('was-validated')
            }, false)
        })
    })()
</script>
<script type="text/javascript" src="~/js/validateCode.js"></script>