<form action="#" method="POST">
    <div class="area_form">
        <input type="text" name="search" class="search" placeholder="Search">
        <img class="icon_search" src="img/Icon_Search.png" alt="">
    </div>
</form>