
<div class="menu_footer">
    <div class="menu_footer_int">

        <div class="area_menu_footer">
            <a href="profile_prototipo.html">
                <div class="menu_f">
                    <img width="27px" height="28px" src="img/Icon-Profile-Out.png" alt="">
                    <h2>Profile</h2>
                </div>
            </a>
            <a href="home_usuario.html">
                <div class="menu_f">
                    <img width="27px" height="28px" src="img/Icon-Home-Out.png" alt="">
                    <h2><b>Home</b></h2>
                </div>
            </a>
            <a href="#">
                <div class="menu_f">
                    <img width="27px" height="28px" src="img/Icon_community_In.png" alt="">
                    <h2>Community</h2>
                </div>
            </a>
        </div>
    </div>

</div>