
<div class="area_chats_all">
    <div class="area_texts_chats">

        <div class="my_connections">
            <a href="chats.html">
                <h2>My Connection</h2>
                <div class="border_c"></div>
            </a>
        </div>

        <div class="connections_requests">
            <a href="chats_unread.html">
                <h2>Connection request</h2>
                <div class="border_u"></div>
            </a>
        </div>

    </div>
</div>