<form id="formSearch" name="formSearch" novalidate class="needs-validation" method="post">
    <div id="email-group" class="area_form">
        <div class="input-group mb-3">
            <input type="text" value="rickytechr" class="form-control" id="txtSearch" name="txtSearch" aria-label="Example text with button addon" aria-describedby="btnSearch" placeholder="Search for a username to send new connection request" required>
            <button class="btn btn-outline-secondary" style="height:35px" type="submit" id="btnSearch"><i class="bi bi-search"></i></button>
            <span class="errorData" role="alert" id="emailError" aria-hidden="true"></span>
        </div>
    </div>
</form>
