<div class="bar"></div>
<div class="title_community">
    <h2>Collectible delights in the Community</h2>
</div>

<div class="area_community">
    <div class="community">
        <img width="80px" height="60px" src="img/Sport_1.png" alt="">
        <h2>Valentine’s</h2>
    </div>
    <div class="community">
        <img width="80px" height="60px" src="img/Sport_2.png" alt="">
        <h2>Charlotte</h2>
    </div>
    <div class="community">
        <img width="80px" height="60px" src="img/Sport_3.png" alt="">
        <h2>Wedding</h2>
    </div>
    <div class="community">
        <img width="48px" height="60px" src="img/Sport_4.png" alt="">
        <h2>Peachy</h2>
    </div>
</div>
