@{
    Layout = "_LayoutLogin";
}
<link href="~/css/style.css" />

@await Html.PartialAsync("~/Views/Shared/Home/User/_PartialMenu.cshtml")

@await Html.PartialAsync("~/Views/Shared/Home/User/_PartialSearch.cshtml")

@await Html.PartialAsync("~/Views/Shared/Home/User/_PartialProfileDetails.cshtml")

@await Html.PartialAsync("~/Views/Shared/Home/User/_PartialIconProfile.cshtml")

@await Html.PartialAsync("~/Views/Shared/Home/User/_PartialCollection.cshtml")

@*<a href="#">
    <div class="btn_home_2">
        <h2>CHAT WITH US</h2>
    </div>
</a>*@

@await Html.PartialAsync("~/Views/Shared/Home/User/_PartialFooter.cshtml")

<script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (() => {
        'use strict'

        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        const forms = document.querySelectorAll('.needs-validation')

        // Loop over them and prevent submission
        Array.from(forms).forEach(form => {
            form.addEventListener('submit', event => {
                if (!form.checkValidity()) {
                    event.preventDefault()
                    event.stopPropagation()
                }

                form.classList.add('was-validated')
            }, false)
        })
    })()
</script>
<script type="text/javascript" src="~/js/search.js"></script>