
<div class="menu_footer">
    <div class="menu_footer_int">

        <div class="area_menu_footer">
            <a href="/Profile/Adm?isConnection=false">
                <div class="menu_f">
                    <img width="27px" height="28px" src="~/img/Icon-Profile-Out.png" alt="">
                    <h2>Profile</h2>
                </div>
            </a>
            <a asp-controller="Home" asp-action="Adm">
                <div class="menu_f">
                    <img width="27px" height="28px" src="~/img/Icon-Home-Out.png" alt="">
                    <h2><b>Home</b></h2>
                </div>
            </a>
            <a asp-controller="Community" asp-action="Adm">
                <div class="menu_f">
                    <img width="27px" height="28px" src="~/img/Icon_community_In.png" alt="">
                    <h2>Community</h2>
                </div>
            </a>
        </div>
    </div>

</div>