@{
    var users = (List<TCM.Services.Model.UserModel>)TempData["Users"];
}
<div class="row">

    <div class="area_chats_all mb-2">
        <div class="area_texts_chats">

            <div class="my_invitations">     
                    <h2>Manage Users</h2>
                    <div class="border_unread_u"></div>   
            </div>
        </div>
    </div>

    <div class="text-default mb-3 row">
        @foreach (var user in users.Where(x => x.Id != 1))
        {

            <div class="col-md-7 mb-2">@user.UserName</div>
            <div class="col-md-5 mb-2" style="text-align: right;">

                <button class="invitation-circle-send desactivedUser" type="button" title="Desactived User" id="desactivedUser" data-userid="@user.Id">
                    <i class="bi bi-person-fill-slash"></i>
                </button>
                <button class="invitation-circle-send send_alert viewChat" id="viewChat" data-userid="@user.Id" type="button" title="View Chat">
                    <i class="bi bi-chat-left"></i>
                </button>
                <button class="invitation-circle-send send_alert viewProfile" id="viewProfile" data-userid="@user.Id" type="button" title="View profile">
                    <i class="bi bi-eye-fill"></i>
                </button>

            </div>
        }
    </div>


</div>
<script>

    $(document).ready(function () {
        $(".viewProfile").click(function () {
            var userId = $(this).data("userid");
            window.location.href = `/Profile/?connectionUserId=${userId}&isConnection=true&fill=true`;
        });
       
        $(".viewChat").click(function () {
            var userId = $(this).data("userid");
            window.location.href = `/Chat/Details?userId=${userId}`;
        });
        $(".desactivedUser").click(function (event) {
            event.preventDefault();
            var userId = $(this).data("userid");
            var dinamicText = ""

            var spinner = $('#loader');
            spinner.show();
            $.ajax({
                url: "/ManagerUser/DisabledUser",
                type: "POST",
                data: { "userId": userId },
                success: function (data) {
                    spinner.hide();
                    window.location.href = "/ManagerUser/GetAllUsers";
                },
                error: function (xhr, status, error) {
                    spinner.hide();
                    console.log(xhr);
                    console.log(error)
                }
            });

        });
    });

</script>