<table  width="100%">
    <tr>
        <td>
            <table style="width:100%;">

                <tr id="container1x1">
                    <td>
                        <table width="100%">
                            <tr>
                                <td colspan="2" class="text-default text-weight-bold">Miniatura*</td>
                            </tr>
                            <tr>
                                <td style="vertical-align:top" colspan="2">

                                    <table style="width:100%">
                                        <tr>
                                            <td rowspan="2" valign="top">
                                                <div id="imageMini" class="box_image"></div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <table style="width:100%; ">
                                                    <tr>
                                                        <td colspan="3">
                                                            <input type="text" class="collection_next" name="miniature" id="miniature">
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td style="width:40%; vertical-align:top">
                                                            <input class="form-check-input" style="padding: 0px 0px 0px 0px !important" checked type="radio" name="available" id="available" value="1" required>

                                                            <label class="form-check-label text-default" for="available">
                                                                Available now
                                                            </label>
                                                        </td>
                                                        <td>
                                                            <input class="form-check-input" style="padding: 0px 0px 0px 0px !important" type="radio" name="available" id="scheduled" value="2" required>
                                                            <label class="form-check-label text-default" for="scheduled">
                                                                Scheduled
                                                            </label>
                                                            <input type="text" class="collection_next" name="scheduledDate" id="scheduledDate" style="border:none" placeholder="dd/mm/yyyy hh:mm">

                                                        </td>
                                                    </tr>
                                                </table>

                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2" class="text-default text-weight-bold">
                                    1 Piece title*
                                </td>
                            </tr>
                            <tr>
                                <td style="vertical-align:top" colspan="2">
                                    <table style="width:100%">
                                        <tr>
                                            <td>
                                                <div id="imagePiece1" alt="Imagem" class="box_image" />
                                            </td>
                                            <td style="width:100%">
                                                <input class="collection_next" required type="text" id="piece1" name="piece1" width="60" style="height:60px !important">
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>

                <tr id="container2x2">
                    <td>
                        <table width="100%">
                            <tr>
                                <td class="text-default text-weight-bold">
                                    2 Piece title*
                                </td>
                            </tr>
                            <tr>
                                <td style="vertical-align:top">
                                    <table style="width:100%">
                                        <tr>
                                            <td>
                                                <div id="imagePiece2" alt="Imagem" class="box_image" />
                                            </td>
                                            <td style="width:100%">
                                                <input class="collection_next" type="text" id="piece2" name="piece2" width="60" style="height:60px !important">
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>

                            <tr>
                                <td class="text-default text-weight-bold">
                                    3 Piece title*
                                </td>
                            </tr>
                            <tr>
                                <td style="vertical-align:top">
                                    <table style="width:100%">
                                        <tr>
                                            <td>
                                                <div id="imagePiece3" alt="Imagem" class="box_image" />
                                            </td>
                                            <td style="width:100%">
                                                <input class="collection_next" type="text" id="piece3" name="piece3" width="60" style="height:60px !important">
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>

                            <tr>
                                <td class="text-default text-weight-bold">
                                    4 Piece title*
                                </td>
                            </tr>
                            <tr>
                                <td style="vertical-align:top">
                                    <table style="width:100%">
                                        <tr>
                                            <td>
                                                <div id="imagePiece4" alt="Imagem" class="box_image" />
                                            </td>
                                            <td style="width:100%">
                                                <input class="collection_next" type="text" id="piece4" name="piece4" width="60" style="height:60px !important">
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>

                <tr id="container3x3">
                    <td>
                        <table width="100%">
                            <tr>
                                <td class="text-default text-weight-bold">
                                    5 Piece title*
                                </td>
                            </tr>
                            <tr>
                                <td style="vertical-align:top">
                                    <table style="width:100%">
                                        <tr>
                                            <td>
                                                <div id="imagePiece5" alt="Imagem" class="box_image" />
                                            </td>
                                            <td style="width:100%">
                                                <input class="collection_next" type="text" id="piece5" name="piece5" width="60" style="height:60px !important">
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>

                            <tr>
                                <td class="text-default text-weight-bold">
                                    6 Piece title*
                                </td>
                            </tr>
                            <tr>
                                <td style="vertical-align:top">
                                    <table style="width:100%">
                                        <tr>
                                            <td>
                                                <div id="imagePiece6" alt="Imagem" class="box_image" />
                                            </td>
                                            <td style="width:100%">
                                                <input class="collection_next" type="text" id="piece6" name="piece6" width="60" style="height:60px !important">
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>

                            <tr>
                                <td class="text-default text-weight-bold">
                                    7 Piece title*
                                </td>
                            </tr>
                            <tr>
                                <td style="vertical-align:top">
                                    <table style="width:100%">
                                        <tr>
                                            <td>
                                                <div id="imagePiece7" alt="Imagem" class="box_image" />
                                            </td>
                                            <td style="width:100%">
                                                <input class="collection_next" type="text" id="piece7" name="piece7" width="60" style="height:60px !important">
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>

                            <tr>
                                <td class="text-default text-weight-bold">
                                    8 Piece title*
                                </td>
                            </tr>
                            <tr>
                                <td style="vertical-align:top">
                                    <table style="width:100%">
                                        <tr>
                                            <td>
                                                <div id="imagePiece8" alt="Imagem" class="box_image" />
                                            </td>
                                            <td style="width:100%">
                                                <input class="collection_next" type="text" id="piece8" name="piece8" width="60" style="height:60px !important">
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>

                            <tr>
                                <td class="text-default text-weight-bold">
                                    9 Piece title*
                                </td>
                            </tr>
                            <tr>
                                <td style="vertical-align:top">
                                    <table style="width:100%">
                                        <tr>
                                            <td>
                                                <div id="imagePiece9" alt="Imagem" class="box_image" />
                                            </td>
                                            <td style="width:100%">
                                                <input class="collection_next" type="text" id="piece9" name="piece9" width="60" style="height:60px !important">
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>

                <tr id="containerVideo">
                    <td>
                        <table width="100%">
                            <tr>
                                <td colspan="2" class="text-default text-weight-bold">Upload the video here*</td>
                            </tr>
                            <tr>
                                <td class="text-default">This is the video the My Collectables users are going to view at the
                                    final accomplishment of this collection. Upload a high quality .mp4 or .gif media file
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2" class="text-default text-weight-bold">
                                    Video title*
                                </td>
                            </tr>
                            <tr>
                                <td style="vertical-align:top" colspan="2">
                                    <table style="width:100%">
                                        <tr>
                                            <td>
                                                <input type="file" name="fileInput" id="fileInput" style="display: none" required />
                                                <div id="video" alt="Imagem" class="box_image" style="cursor: pointer; background:url(../../img/file-minier.png)" />

                                            </td>
                                            <td style="width:100%">
                                                <input required class="collection_next" type="text" id="videoDescription" name="videoDescription" width="60" style="height:60px !important">
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>

                <tr id="containerSave">
                    <td colspan="2" style="align-items:flex-end">

                        <input type="submit" value="SAVE COLLECTION" class="next">
                    </td>
                </tr>
            </table>

        </td>
    </tr>
</table>