<div class="menu_header">
    <div class="icon_menu">
        <nav class="nav">
            <input type="checkbox" class="checkbox" id="checkbox">
            <label for="checkbox" class="label_menu">
                <span class="menu_hamburguer"></span>
            </label>
            <div class="container_menu home">
                <div class="container_menu_int">
                    <div class="area_menu">
                        <div class="logo_menu">
                            <img width="100px" height="100px" src="~/img/Logo.png" alt="Patisserie">
                        </div>
                        <div class="social_icons">
                            <img src="~/img/instagram.png" alt="">
                            <img src="~/img/facebook.png" alt="">
                            <img src="~/img/world.png" alt="">
                        </div>
                        <div class="admin">
                            <h2>admin console</h2>
                        </div>
                        <nav>
                            <ul>
                                <a asp-action="AddCollection" asp-controller="ManagerCollection">
                                    <li>MANAGE COLLECTIONS</li>
                                </a>
                                <a asp-action="Index" asp-controller="SentCollection">
                                    <li>SEND DELIGHTS</li>
                                </a>
                                <a asp-action="adm" asp-controller="Banner">
                                    <li>MANAGE BANNERS</li>
                                </a>
                                <a href="#">
                                <li>CONFIGURATIONS</li>
                                </a>
                                <a asp-action="adm" asp-controller="ManagerUser">
                                    <li>PERMISSIONS</li>
                                </a>
                                <a href="#">
                                <li>SUPPORT</li>
                                </a>
                            </ul>
                        </nav>
                    </div>
                </div>
                <footer>
                    <div class="collectibles">
                        <img width="20px" height="20px" src="~/img/logo_collectibles.png" alt="">
                        <h2>My Collectibles</h2>
                    </div>
                </footer>
            </div>
        </nav>
    </div>
    <div class="logo_home">
        <img width="30px" height="30px" src="~/img/logo_small.png" alt="Patisserie">
        <div class="collectibles_home">
            <h2>My Collectibles</h2>
        </div>
    </div>
</div>