@section Styles {
    <link href="~/StaticFiles/assets/plugins/gritter/css/jquery.gritter.css" rel="stylesheet" />
    <link href="~/StaticFiles/lib/jvectormap-next/jquery-jvectormap.css" rel="stylesheet" />
    <link href="~/StaticFiles/lib/nvd3/build/nv.d3.css" rel="stylesheet" />
    <link href="~/StaticFiles/assets/plugins/bootstrap-datepicker/dist/css/bootstrap-datepicker.css" rel="stylesheet" />
    <link href="~/StaticFiles/assets/plugins/bootstrap-timepicker/css/bootstrap-timepicker.min.css" rel="stylesheet" />
    <link href="~/StaticFiles/assets/plugins/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet" />
    <link href="~/StaticFiles/assets/plugins/select2/dist/css/select2.min.css" rel="stylesheet" />
    <link href="~/StaticFiles/assets/plugins/select-picker/dist/picker.min.css" rel="stylesheet" />

}
@section Scripts {

    <script src="~/StaticFiles/lib/gritter/js/jquery.gritter.js"></script>
    <script src="~/StaticFiles/assets/plugins/select2/dist/js/select2.min.js"></script>
    <script src="~/StaticFiles/assets/plugins/moment/min/moment.min.js"></script>
    <script src="~/StaticFiles/assets/plugins/bootstrap-datepicker/dist/js/bootstrap-datepicker.js"></script>
    <script src="~/StaticFiles/assets/plugins/bootstrap-timepicker/js/bootstrap-timepicker.min.js"></script>
    <script src="~/StaticFiles/assets/plugins/select-picker/dist/picker.min.js"></script>

    <script src="~/StaticFiles/assets/plugins/@@highlightjs/cdn-assets/highlight.min.js"></script>
    <script src="~/StaticFiles/assets/js/demo/render.highlight.js"></script>
    <script src="~/StaticFiles/assets/plugins/d3/d3.min.js"></script>
    <script src="~/StaticFiles/assets/plugins/nvd3/build/nv.d3.min.js"></script>

    <script src="~/StaticFiles/js/site.js"></script>
}
<h1 class="page-header">Support <small>show contacts...</small></h1>
<!-- END page-header -->
<div class="row">
    <div class="col-xl-12">
        <div class="panel text-black" data-sortable-id="ui-widget-21">
            <!-- BEGIN panel-heading -->
            <div class="panel-heading bg-gray-400 ui-sortable-handle">
                <h4 class="panel-title">Contact</h4>
            </div>
            <div class="panel-body text-black">
                <table class="table-responsive-md">
                    <tr>
                        <td class="w-50 text-center">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d10882.0826355765!2d-123.10781227623386!3d49.26574574268092!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x548673e1cd948d8b%3A0xdb50ea382065f8aa!2s154%20E%208th%20Ave%2C%20Vancouver%2C%20BC%20V5T%201R7%2C%20Canad%C3%A1!5e0!3m2!1spt-BR!2sbr!4v1707948355402!5m2!1spt-BR!2sbr" width="400" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                        </td>
                    </tr>
                    <tr>
                        <td class="w-50 text-center">
                            <b class="text-body">Email: </b> info@thechefmelo.com                           
                        </td>
                    </tr>
                    <tr>
                        <td class="w-50 text-center">
                            <b class="text-body">Phone: </b> +1 604 123 4567
                        </td>
                    </tr>

                </table>
            </div>
        </div>
    </div>
</div>