@{
    Layout = "_LayoutLogout";
}

<div class="area_login">
    <div class="logo">
        <img width="100px" height="100px" src="img/Logo.png" alt="Patisserie">
    </div>
    <form id="formLogin" name="formLogin" class="needs-validation" novalidate>
        <div id="email-group" class="area_form">
            <label for="name" class="username">
                Username*
            </label>
            <input type="text" id="email" class="form-control" name="email" placeholder="enter your username" autocomplete="off" required>
            <span class="errorData" role="alert" id="emailError" aria-hidden="true"></span>
        </div>
        <div id="password-group" class="area_form">
            <label for="Password" class="password">
                Password*
            </label>
            <input type="password" id="password" class="form-control" name="password" placeholder="enter your password" autocomplete="off" required>
            <span class="errorData" role="alert" id="passwordError" aria-hidden="true"></span>
        </div>
        <div class="info">
            <p>Forgot your password? Tap <a id="forgot" target="_self" style="color:#C0694E;" href="#"><b>here.</b></a></p>
        </div>
        <input type="submit" name="submit" class="submit" value="SIGN IN">
        <div class="sign_up">
            <p>New here? Tap to <a target="_self" asp-action="Index" asp-controller="CreateAccount"><b>sign up.</b></a></p>
        </div>
    </form>
    <style>
        #setup_button {
            display: block;
        }
    </style>
</div>
<script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (() => {
        'use strict'

        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        const forms = document.querySelectorAll('.needs-validation')

        // Loop over them and prevent submission
        Array.from(forms).forEach(form => {
            form.addEventListener('submit', event => {
                if (!form.checkValidity()) {
                    event.preventDefault()
                    event.stopPropagation()
                }

                form.classList.add('was-validated')
            }, false)
        })
    })()
</script>
<script type="text/javascript" src="js/login.js"></script>