@model IEnumerable<TCM.Services.Model.ConnectionsModel>

@section Styles {


}
@section Scripts {
    <script src="~/StaticFiles/js/search.js"></script>

}
<!-- BEGIN page-header -->
<h1 class="page-header">Administrator <small>show home...</small></h1>
<!-- END page-header -->
<div class="row">
    <div class="col-xl-10 ">
    </div>
</div>