@using TCM.Services.Model.Enum;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "_LayoutLogin";
}
@using System.Linq;
@{
    var _connectionModels = (List<TCM.Services.Model.ConnectionModel>)TempData["Connection"];
    List<TCM.Services.Model.ResultSearchModel> searchConnectionUsers = new List<TCM.Services.Model.ResultSearchModel>();


    if (TempData["SearchRequestUser"] != null)
    {
        searchConnectionUsers = (List<TCM.Services.Model.ResultSearchModel>)TempData["SearchRequestUser"];
    }

}
<div class="area_home">
    @await Html.PartialAsync("~/Views/Shared/Home/User/_PartialMenu.cshtml")

    @await Html.PartialAsync("~/Views/Shared/Home/User/_PartialSearchRequest.cshtml")

    @await Html.PartialAsync("~/Views/Shared/Home/User/_PartialResultRequest.cshtml")

    @await Html.PartialAsync("~/Views/Shared/Home/User/_PartialFooter.cshtml")
</div>
<script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (() => {
        'use strict'

        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        const forms = document.querySelectorAll('.needs-validation')

        // Loop over them and prevent submission
        Array.from(forms).forEach(form => {
            form.addEventListener('submit', event => {
                if (!form.checkValidity()) {
                    event.preventDefault()
                    event.stopPropagation()
                }

                form.classList.add('was-validated')
            }, false)
        })
    })()
</script>