@model TCM.Services.Model.UserModel
@{
    Layout = "_LayoutLogout";
   
}


<div class="area_login">
    <div class="logo">
        <img width="100px" height="100px" src="~/img/Logo.png" alt="Patisserie">
    </div>
    
    <form id="formUser" name="formUser" class="needs-validation" novalidate>
        <div class="area_form">

            <div class="area_chats_all mb-2">
                <div class="area_texts_chats">

                    <div class="my_invitations">
                        <h2>Change Password  @Model.UserName</h2>
                        <div class="border_unread_u"></div>
                    </div>
                </div>
            </div>
        </div>
        <div id="password-group" class="area_form">
            <label for="Password" class="password">
                New Password*
            </label>
            <input type="password" value="" minlength="8" maxlength="25" id="password" class="form-control" name="password" placeholder="enter your 8 characters password" autocomplete="off" required>
            <span class="errorData" role="alert" id="passwordError" aria-hidden="true"></span>
        </div>
        <div id="confirm-group" class="area_form">
            <label for="ConfirmPassword" class="password">
                Confirm password*
            </label>
            <input type="password" value="" minlength="8" maxlength="25" id="confirmPassword" class="form-control" name="confirmPassword" placeholder="repeat your 8 characters password" required autocomplete="off">
            <span class="errorData" role="alert" id="passwordError" aria-hidden="true"></span>
        </div>
        <input type="submit" id="submit" name="submit" class="submit" style="background-color:gray" disabled value="Save Changes" data-userId="@Model.Id" />

    </form>
    <style>
        #setup_button {
            display: block;
        }
    </style>
</div>
<script>
    (() => {
        'use strict'

        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        const forms = document.querySelectorAll('.needs-validation')

        // Loop over them and prevent submission
        Array.from(forms).forEach(form => {
            form.addEventListener('submit', event => {
                if (!form.checkValidity()) {
                    event.preventDefault()
                    event.stopPropagation()
                }

                form.classList.add('was-validated')
            }, false)
        })
    })()

    function AjaxSucceeded(result) {
        var form = $("#formUser")
        var spinner = $('#loader');
        spinner.hide();
        if (!result.isOK) {
            if (result.type == "Password") {

                $("#password-group").addClass("has-error");
                $("#password-group").append(
                    '<div style="color:#C0694E;" class="help-block">' + result.errors + "</div>"
                )
            };
        }
        else {

            $(".access").remove();
            window.location.href = result.redirect;
        }

    }

    function AjaxFailed(result) {
        var spinner = $('#loader');
        spinner.hide();
        if (result.errors != null) {

            $("#password-group").addClass("has-error");
            $("#password-group").append(
                '<div style="color:#C0694E;" class="help-block">' + result.errors + "</div>"
            )
        };

    }
    $(document).ready(function () {

        $("#formUser").submit(function (event) {

            var spinner = $('#loader');

            var form = $("#formUser")
            if (form[0].checkValidity() === false) {
                event.preventDefault()
                event.stopPropagation()
            }
            else {
                var formData = {
                    "Id": $("#submit").data("userid"),
                    "Password": $("#password").val(),
                    "ConfirmPassword": $("#confirmPassword").val()
                 

                };
                console.log(formData);
                spinner.show();

                $.ajax({
                    type: 'POST',
                    url: "/User/ChangePassawordUser",
                    data: JSON.stringify(formData),
                    dataType: 'json',
                    contentType: 'application/json',
                    encode: true,
                    success: AjaxSucceeded,
                    error: AjaxFailed
                });
            }
            event.preventDefault();
        });
    });
</script>

